.auth-picture {
    background-image: url(../../images/index-picture.jpg);
    background-position: center;
    -webkit-filter: blur(5px);
    background-size: cover;
    height: 100%;
}
.auth-mask {
    transition: opacity .5s ease;
    background-color: $black;
    position: fixed;
    z-index: 9998;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: table;
    .auth-wrapper {
        vertical-align: middle;
        display: table-cell;
        .auth-content {
            position: relative;
            margin: 0 auto;
            max-width: 90%;
            padding: 15px;
            width: 100%;
            &.biggest {
                max-width: 580px;
            }
            &.large {
                max-width: 480px;
            }
            &.medium {
                max-width: 380px;
            }
            &.small {
                max-width: 280px;
            }
            .action {
                margin-top: 10px;
                input[type=button] {
                    @include border-radius(3px);
                    border: 1px solid $white;
                    background: $white;
                    font-weight: 400;
                    font-size: 16px;
                    color: $beige;
                    height: 35px;
                    padding: 6px;
                    width: 100%;
                    cursor: pointer;
                    &:hover, &.active {
                        opacity: 0.8;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}