@font-face {
    font-family:'LatoBlack';
    src:url('../../fonts/Lato-Black.ttf');
}
@font-face {
    font-family:'LatoRegular';
    src:url('../../fonts/Lato-Regular.ttf');
}
@font-face {
    font-family:'LatoThin';
    src:url('../../fonts/Lato-Thin.ttf');
}
@font-face {
    font-family:'LatoLight';
    src:url('../../fonts/Lato-Light.ttf');
}