.footer {
    background-color: $white;
    font-family: LatoLight;
    max-height: 30px;
    padding: 5px 0;
    color: $black;
    height: 100%;
    width: 100%;
    bottom: 0;
    z-index: 2;
    position: fixed;
}