<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Auth</title>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

        <!-- Init google fonts href="fonts url". -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;subset=cyrillic" rel="stylesheet" />

        <!-- Init bootstrap href="cdn url". -->
        <link rel="stylesheet" href="../assets/library/bootstrap/css/bootstrap.min.css" />

        <!-- Init styles: src="way file". -->
        <link rel="stylesheet" href="../assets/dist/style.bundle.css" />

        <!-- Init favicon: src="way icon". -->
        <link rel="shortcut icon" href="" type="image/x-icon" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        [endif]-->
        
    </head>
    <body>
        <div class="auth_img"></div>
        <div class="auth_mask">
            <div class="auth_wrapper">
                <div class="auth_container small">
                    <div class="field">
                        <input
                            type="text"
                            name="user"
                            placeholder="username"
                        />
                    </div>
                    <div class="field">
                        <input
                            type="password"
                            name="password"
                            placeholder="password"
                        />
                    </div>
                    <div class="action">
                        <button>Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
