<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Auth</title>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

        <!-- Init google fonts href="way file". -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&amp;subset=cyrillic" />

        <!-- Init styles: href="way file". -->
        <link rel="stylesheet" href="../assets/javascript/application/distributions/bundle.style.css" />

        <!-- Init bootstrap href="way file". -->
        <link rel="stylesheet" href="../assets/styles/css/bootstrap.min.css" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        [endif]-->
    </head>
    <body>
        <div class="auth_pic" style="background-image: url('../assets/pictures/table.jpg')"></div>
        <div class="auth_mask">
            <div class="auth_wrapper">
                <div class="auth_container small">
                    <div class="field">
                        <input
                            type="text"
                            name="user"
                            placeholder="username"
                        />
                    </div>
                    <div class="field">
                        <input
                            type="password"
                            name="password"
                            placeholder="password"
                        />
                    </div>
                    <div class="action">
                        <button>Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
