<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>

        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap. -->
        <link rel="stylesheet" href="../assets/library/bootstrap/css/bootstrap.min.css" />
        <!-- Init styles: src="way file". -->
        <link rel="stylesheet" href="../assets/dist/css/style.bundle.css" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        [endif]-->
    </head>
    <body>
        <div class="page-wrapper">
            <div class="header">
                <div class="container-fluid">
                    <div class="menu-logotip pull-left">
                        <a href="#" class="block">
                             <img
                                 src="../assets/images/header/logotip.png"
                                 alt="logotip"
                             />
                        </a>
                    </div>
                    <ul class="pull-right">
                        <li>
                            <a href="#" class="active">Home</a>
                        </li>
                    </ul>
                </div>
            </div> <!-- Header. -->
            <div class="site-body">
                <div class="first-screen">
                    <!-- Bg picture. -->
                    <div class="screen-text">
                        <div class="container-fluid">
                            <div class="large-bg">Newest</div>
                            <div class="medium">Oasis</div>
                            <div class="small">Newest furniture shop template</div>
                        </div>
                    </div>
                </div> <!-- First screen. -->
            </div> <!-- Site body. -->
            <div class="footer">
                <div class="container-fluid">
                    <ul>
                        <li>Help</li>
                        <li class="m-left_small">Privacy</li>
                        <li class="m-left_small">Community</li>
                        <li class="pull-right">WebGuards</li>
                    </ul>
                </div>
            </div> <!-- Footer. -->
        </div>
    </body>
</html>